<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>EtherscanProxyServlet</servlet-name>
		<servlet-class>cel.EtherscanProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EtherscanProxyServlet</servlet-name>
		<url-pattern>/etherscanproxy</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WatchDataServlet</servlet-name>
		<servlet-class>cel.WatchDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WatchDataServlet</servlet-name>
		<url-pattern>/watchdata</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MailNotificationServlet</servlet-name>
		<servlet-class>cel.MailNotificationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MailNotificationServlet</servlet-name>
		<url-pattern>/mailnotification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EventWatcherServlet</servlet-name>
		<servlet-class>cel.EventWatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventWatcherServlet</servlet-name>
		<url-pattern>/eventwatcher</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
